<div id="update-overlay" class="hide"></div>
<div id="update-dialog" class="hide">
  <h2 id="update-title">Updating info about {{ tv_series.title or 'TV series'}}</h2>
  <div id="update-progress"><div id="update-progress-bar"></div></div>
  <div>
    <ul id="update-fail"></ul>
  </div>
  <a href="#" id="update-reload" class="button hide">
    Done, click to reload
  </a>
  <a href="#" id="update-error" class="button hide">
    Error, click to reload
  </a>
</div>

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
