{% extends "base.html" %}

{% block title %}Edit TV series{% endblock %}

{% block content %}
<form id="edit-form" action="/tv_series/update/" method="post">
  <a href="/" class="button">Back</a>
  <input id="submit" type="button" value="Update"
         class="button right"/>
  <h1>Edit {{ tv_series.title }}</h1>
  <input type="hidden" name="id" value="{{ tv_series.id }}"/>
  {% include "tv_series/_edit_form.html" %}
</form>
<a href="/tv_series/delete/?id={{ tv_series.id }}"
   class="button top-margin confirm">
  Delete
</a>
{% endblock %}

{% block script %}
<script src="/static/script/tv_series_form.js"></script>
{% endblock %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
