{% extends "base.html" %}

{% block title %}Add new TV series{% endblock %}

{% block content %}
<form id="new-form" action="/tv_series/save/" method="post">
  <a href="/" class="button">Back</a>
  <input id="submit" type="button" value="Create"
         class="button top-no-margin right"/>
  <h1>New TV series</h1>
  {% include "tv_series/_edit_form.html" %}
</form>
{% endblock %}

{% block script %}
<script src="/static/script/tv_series_form.js"></script>
{% endblock %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
