{% extends "base.html" %}
{% import "episodes/_episode.html" as e %}

{% block title %}{{ tv_series.title }}{% endblock %}

{% block content %}
<a href="/" class="button">Back</a>
<a href="/tv_series/edit/?id={{ tv_series.id }}" class="button right">Edit</a>
<h1>{{ tv_series.title }}</h1>

<ul class="list">
  {% for s in tv_series.seasons %}
    <li class="item"><a href="#season-{{ s.id }}">Season {{ s.number }}</a></li>
  {% endfor %}
</ul>

<a href="#" id="update" data-tv-series-id="{{ tv_series.id }}"
   class="button top-margin">
  Update TV series info
</a>

{% for s in tv_series.seasons %}
  <h2 id="season-{{ s.id }}">
    Season {{ s.number }}
    <a href="/seasons/watch/?id={{ s.id }}" class="button right">
      I’ve seen this season
    </a>
  </h2>
  <div class="accordion">
    {% for episode in s.episodes %}
      {{ e.episode(episode) }}
    {% endfor %}
  </div>
{% endfor %}

{% include "tv_series/_update.html" %}

{% endblock %}

{% block script %}
<script src="/static/script/update.js"></script>
<script src="/static/script/wikipedia/lib.js"></script>
<script src="/static/script/freebase/lib.js"></script>
{% endblock %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
