@import "PressUI/style/layout";

.right {
  float: right;
}

.hide {
  display: none;
}

.top-no-margin {
  margin-top: 0;
}

.top-margin {
  margin-top: 1em;
}

.button {
  font-size: $font-size;
  padding: 0.5em;
  border: 0.1em solid darken($blue, 10%);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  color: white;
  border-radius: 0.3em;
  text-shadow: 0.1em 0.1em black;
  font-weight: bold;

  &.hide {
    display: none;
  }
}

.list {
  background-color: $gray2;
  padding: 1em;

  .item {
    &:first-child {
      border-top: 0.2em solid $gray3;
    }

    &:hover, &:focus {
      background-color: $gray1;
    }

    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: 0.2em solid $gray3;
    color: #3B5998;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
}

.accordion {
  .header {
    background-color: $gray2;
    &:hover, &:focus {
      background-color: $gray1;
    }
    margin: 0;
    font-size: $font-size;
    font-weight: normal;
    padding: 0.5em;
  }

  .wrap {
    height: 20em;
    overflow: auto;
    padding: 0 1em;
    visibility: hidden;
    /* Delay when hiding */
    transition: visibility 0s linear 0.3s;
  }

  .body {
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out, margin 0.3s ease-out;
  }

  section.target {
    .header {
      padding-bottom: 0.7em;
    }

    .body {
      margin: 0.5em 0;
      height: 20em;
      transition: height 0.3s ease-out, margin 0.3s ease-out;
    }

    .wrap {
      visibility: visible;
      /* Immediatelly show when making visible */
      transition: visibility 0s linear;
    }
  }

  section {
    border: 0.2em solid $gray3;
    margin-bottom: 0.2em;
  }
}

#form {
  @media (min-width: 35em) {
    label {
      width: 10em;
      display: inline-block;
    }

    input[type=text] {
      width: 20em;
    }
  }
  @media (max-width: 35em) {
    input[type=text], label {
      width: 100%;
      display: block;
    }
  }

  .hint {
    font-size: 0.8em;
  }
}

.episode .cover_image {
  @media (min-width: 40em) {
    float: right;
  }

  @media (max-width: 40em) {
    display: none;
  }
}

.episode .summary {
  /* Preserve new line characters. */
  white-space: pre-wrap;
  word-wrap: break-word;
}

#update-dialog {
  position: fixed;
  @media (min-width: 40em) {
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -20em;
    width: 40em;
    height: 20em;
  }
  @media (max-width: 40em) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  background-color: $gray2;
  border: 0.2em solid $gray3;
  z-index: 1001;

  #update-title {
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: $gray1;
  }

  #update-progress {
    height: 2em;
    margin: 1em;
    border: 0.2em solid $gray3;
    border-radius: 0.3em;

    #update-progress-bar {
      height: 2em;
      width: 0;
      background-color: $blue;
      border-radius: 0.3em;
    }
  }

  #update-reload, #update-error {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
}

#update-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.freebase_hint {
  text-decoration: none;
  color: blue;
}
