<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/cupertino/jquery-ui.min.css"
      type="text/css"
    >
    <link rel="stylesheet" href="/static/style/base.css" type="test/css">
  </head>
  <body>
    <div id="fb-root"></div>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://connect.facebook.net/en_GB/all.js"></script>
    <script type="text/javascript">{% include "fbinit.js" %}</script>
    <script src="/static/script/base.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
