{% extends "base.html" %}

{% block title %}Hathor{% endblock %}

{% block content %}
{% include "episodes/ready_and_next.html" %}

<a href="/tv_series/new/" class="button top-margin">New</a>
<a href="#" id="update-all" class="button top-margin right">
  Update all TV series info
</a>

<h1>Your TV series:</h1>
<div class="list">
  {% for t in tv_series %}
    <a href="/tv_series/?id={{ t.id }}" class="item">{{ t.title }}</a>
  {% endfor %}
</div>

{% include "tv_series/_update.html" %}

{% endblock %}

{% block script %}
<script src="/static/script/update.js"></script>
<script src="/static/script/wikipedia/lib.js"></script>
{% endblock %}

<!-- vim: set filetype=jinja sw=2 sts=2 : -->
